<h1 class="nav" style="padding-top: 40px;">
    <a href="/" class="btn btn-primary" style="text-decoration: none;">Home</a>
    <a href="/newEntry" class="btn btn-success  pull-right" style="text-decoration: none; margin-left: auto;">Escribe algo</a>
</h1>
<hr />