<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include sections/head %>
    <title><%=  title%></title>
</head>
<body class="container">
    <% include sections/header%>
    <% if(entries.length){%>
        <% entries.forEach(entrada => { %>
            <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                <div class="card-header"><%= entrada.fechaPub %></div>
                <div class="card-body">
                    <h5 class="card-title"><%= entrada.titulo %></h5>
                    <p class="card-text"><%= entrada.contenido %></p>
                </div>
            </div>
        <%}); %>
    <%} else {%>
        <h2>Sin entradas aún</h2>
    <%}%>
</body>
</html>