<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include sections/head %>
    <title><%= miTitulo%></title>
</head>
<body class="container">
    <% include sections/header %>
    <%= miBody%>
    
    <div class="col-12 col-xs-8 col-xs-offset-2">
        <h2>Escribe tu entrada</h2>

        <form method="POST" action="">
            <div class="form-group">
                <label for="title">Título</label>
                <input type="text" name="title" id="title" class="form-control" placeholder="Escribe el título" required>
            </div>
            
            <div class="form-group">
                <label for="body">Descripcion</label>
                <textarea name="body" id="body" class="form-control" placeholder="Descripcion de tu tarea" required></textarea>
            </div>

            <div class="form-group">
                <input type="submit" value="Guardar tarea" class="btn btn-primary">
            </div>
        </form>
    </div>
</body>
</html>